{% extends "base.html" %}
{% block title %}Chat room{% endblock %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-4" style="margin-left: 62px; margin-right: 80px;">
                        <div class="card-body">
                            <div id="chat">
                                    {% for message in messages %}
                                        <div>
                                            {% if message.user == request.user %}
                                                <div style="margin-left: 250px">
                                                    <strong>Me</strong>
                                                    <span class="date">{{ message.timestamp.day }}.{{ message.timestamp.month }} {{ message.timestamp|date:"h:i A" }}</span>
                                                    <br> {{ message.content }}
                                                </div>
                                            {% else %}
                                                <div>
                                                    <strong>{{ message.user.username }}</strong>
                                                    <span class="date">{{ message.timestamp.day }}.{{ message.timestamp.month }} {{ message.timestamp|date:"h:i A" }}</span>
                                                    <br> {{ message.content }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                            </div>
                            <div id="chat-input">
                                <input id="chat-message-input" type="text">
                                <input id="chat-message-submit" type="submit" value="Send">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block include_js %}
    {{ application.id|json_script:"application-id" }}
    {{ request.user.username|json_script:"request-user" }}
{% endblock %}
{% block domready %}
    const applicationId = JSON.parse(
    document.getElementById('application-id').textContent
    );
    const requestUser = JSON.parse(
    document.getElementById('request-user').textContent
    );
    const url = 'ws://' + window.location.host +
    '/ws/chat/room/' + applicationId + '/';
    const chatSocket = new WebSocket(url);

    chatSocket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    const chat = document.getElementById('chat');
    const dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
    const datetime = new Date(data.datetime).toLocaleString('en', dateOptions);
    const isMe = data.user === requestUser;
    const source = isMe ? 'me" style="margin-left: 250px' : 'other';
    const name = isMe ? 'Me' : data.user;
    chat.innerHTML+='<div class="message ' + source + '">' +'<strong>' + name + '</strong> ' + '<span class="date">'+ datetime +'</span><br>' + data.message + '</div>';
    chat.scrollTop = chat.scrollHeight;
    };
    chatSocket.onclose = function(event) {
    console.error('Chat socket closed unexpectedly');
    };
    const input = document.getElementById('chat-message-input');
    const submitButton = document.getElementById('chat-message-submit');
    submitButton.addEventListener('click', function(event) {
    const message = input.value;
    if(message) {
    chatSocket.send(JSON.stringify({'message': message}));
    input.value = '';
    input.focus();
    }
    });
    input.addEventListener('keypress', function(event) {
    if (event.key === 'Enter') {
    event.preventDefault();
    submitButton.click();
    }
    });
    input.focus();
{% endblock %}
