<div style="margin-left: 440px; margin-bottom: 25px;">
    <span>
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}{% if query %}&query={{ query }}{% endif %}"><-</a>
    {% endif %}
        {% if page.number <= 6 %}
            {% for num in page.paginator.page_range|slice:":10" %}
                {% if num == page.number %}
                    <span>{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}{% if query %}&query={{ query }}{% endif %}">{{ num }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            <a href="?page=1{% if query %}&query={{ query }}{% endif %}">1...</a>
            {% for num in page.paginator.page_range|slice:"6:16" %}
                {% if num == page.number %}
                    <span>{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}{% if query %}&query={{ query }}{% endif %}">{{ num }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </span>
    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}{% if query %}&query={{ query }}{% endif %}">-></a>
    {% endif %}
</div>

{#<div style="margin-left: 440px; margin-top: 0px; margin-bottom: 25px;">#}
{#    <span>#}
{#        {% if page.has_previous %}#}
{#            <a href="?page={{ page.previous_page_number }}{% if query %}&query={{ query }}{% endif %}">&lt;-</a>#}
{#        {% endif %}#}
{#        {% if page.number <= 6 %}#}
{#            {% for num in page.paginator.page_range|slice:":10" %}#}
{#                {% if num == page.number %}#}
{#                    <span>{{ num }}</span>#}
{#                {% else %}#}
{#                    <a href="?page={{ num }}{% if query %}&query={{ query }}{% endif %}">{{ num }}</a>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#            {% if page.paginator.page_range.10 != page.paginator.page_range.reverse.0|add:"-1" %}#}
{#                <span>...</span>#}
{#            {% endif %}#}
{#        {% else %}#}
{#            <a href="?page=1{% if query %}&query={{ query }}{% endif %}">1</a>#}
{#            <span>...</span>#}
{#            {% for num in page.paginator.page_range|slice:"6:16" %}#}
{#                {% if num == page.number %}#}
{#                    <span>{{ num }}</span>#}
{#                {% else %}#}
{#                    <a href="?page={{ num }}{% if query %}&query={{ query }}{% endif %}">{{ num }}</a>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#            {% if page.paginator.page_range.16 != page.paginator.page_range.reverse.0|add:"-1" %}#}
{#                <span>...</span>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#        {% if page.has_next %}#}
{#            <a href="?page={{ page.next_page_number }}{% if query %}&query={{ query }}{% endif %}">-&gt;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

{#<div style="margin-left: 440px; margin-top: 0px; margin-bottom: 25px;">#}
{#    <span>#}
{#    {% if page.has_previous %}#}
{#        <a href="?query={{ request.GET.query }}&?page={{ page.previous_page_number }}"><-</a>#}
{#    {% endif %}#}
{#        {% if page.number <= 6 %}#}
{#            {% for num in page.paginator.page_range|slice:":10" %}#}
{#                {% if num == page.number %}#}
{#                    <span>{{ num }}</span>#}
{#                {% else %}#}
{#                    <a href="?query={{ request.GET.query }}&?page={{ num }}">{{ num }}</a>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <a href="?query={{ request.GET.query }}&?page=1">1...</a>#}
{#            {% for num in page.paginator.page_range|slice:"6:16" %}#}
{#                {% if num == page.number %}#}
{#                    <span>{{ num }}</span>#}
{#                {% else %}#}
{#                    <a href="?query={{ request.GET.query }}&?page={{ num }}">{{ num }}</a>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    </span>#}
{#    {% if page.has_next %}#}
{#        <a href="?query={{ request.GET.query }}&?page={{ page.next_page_number }}">-></a>#}
{#    {% endif %}#}
{#</div>#}
