{% extends "base.html" %}
{% block title %}Resume{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4" style="margin-left: 62px; margin-right: 600px;">
                    <div class="card-body">
                        <span style="font-size: 23px;"><strong>{{ resume.work_name }}</strong></span>
                        <p class="card-text" style="margin-left: 250px; margin-top: -30px;">
                            <span><strong>{{ resume.salary }} RUB </strong>на руки</span></p>
                        <p class="card-text"><strong></strong>{{ resume.first_name }} {{ resume.last_name }}</p>
                        <p class="card-text"><strong></strong>+{{ resume.telephone }}</p>
                        <p class="card-text"><strong></strong>Гражданство {{ resume.citizenship }}</p>
                        <p class="card-text"><strong></strong>Проживаю в {{ resume.city }}</p>
                        <p class="card-text"><strong></strong>{{ resume.experience }}</p>
                        <p class="card-text"><strong></strong>{{ resume.about }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}