{% extends "base.html" %}
{% block title %}Resumes{% endblock %}
{% block content %}
    <div style="margin-left: 110px; margin-top: 30px; margin-right: 125px;">
        {% if not resume %}
            <p><a href="{% url "resume:create" %}">Create resume</a></p>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ resume.get_absolute_url }}">{{ resume.work_name }}</a>
                </h5>
                <p class="card-text"><strong></strong>{{ resume.first_name }} {{ resume.last_name }}</p>
                <p class="card-text"><strong></strong>+{{ resume.telephone }}</p>
                <p class="card-text"><strong></strong>{{ resume.city }}</p>
                <p class="card-text"><strong></strong>{{ resume.salary }} RUB на руки</p>
                <a href="{% url "resume:update" resume.pk %}">Изменить</a>
                <a href="{% url "resume:delete" resume.pk %}">Удалить</a>
            </div>
        </div>
    </div>
{% endblock %}
