{% extends "base.html" %}
{% block title %}Vacancy{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4" style="margin-left: 62px; margin-right: 550px;">
                    <div class="card-body">
                        <span style="margin-left: 15px; font-size: 23px;"><strong>{{ vacancy.name }}</strong></span>

                        <p style="margin-left: 15px; font-size: 17px;">{{ vacancy.salary }} RUB на руки</p>


                        <div style="margin-left: 15px;">
                            <p><strong style="">Описание</strong></p>
                            <p>{{ vacancy.about }}</p>

                            <p><strong style="">Обязанности</strong></p>
                            <p>{{ vacancy.responsibilities }}</p>

                            <p><strong style="">Требования</strong></p>
                            <p>{{ vacancy.requirements }}</p>

                            <p><strong style="">Условия</strong></p>
                            <p>{{ vacancy.conditions }}</p>

                            <p><strong style="">Город</strong></p>
                            <p>{{ vacancy.city }}</p>
                            {% if request.user.resume %}
                                <button type="button" class="btn btn-primary apply-button" data-pk="{{ vacancy.pk }}"
                                        style="margin-left: 270px;">Apply
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: -835px;">
        <div class="card mt-4" style="margin-left: 770px; margin-right: 200px;">
            <p style="margin-left: 15px; font-size: 30px;">OOO <strong>{{ vacancy.company_name }}</strong></p>
        </div>
    </div>
{% endblock %}